*{
    font-family: CustomFont;
}
html { 
    background: url(1.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

body{
    
}
.main{
    
   
   padding: 50px;
   align-items: center;
   text-align: center;
   display: flex;
   flex-direction: column;
   .zdjecia{
       width: 25%;
       
       display: flex;
       flex-direction: column;
       #myImg{
           border:solid 2px black;
           flex:1;
           max-height: 100%;
           max-width: 100%;
       }
       button{
           max-width: 25%;
           flex: 2;
       }
   }

}
.powitanie{
    flex: 1;
    justify-content: center;
    align-items: center;
    width: auto;
    font-size: 51px;
}
@font-face {
    font-family: "CustomFont";
    src: url("font/courgette-regular-webfont.woff");
  
    }